/* src/components/UserGuideFooter.module.css */

/* .mainContentBody {
	margin: 30px;
	padding: 0;
	box-sizing: border-box;
}
/* temporary setup for focus */
/* .mainContentBody {
	outline: 5px solid red;
} */

/* main {
	grid-area: content;
	padding: 20px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
} */
.userGuideFooter {
	background-color: #f4f4f4;
	padding: 20px;
	border-top: 1px solid #ddd;
	display: flex;
	flex-direction: column; /* Ориентация содержимого в столбец */
	align-items: center;
	justify-content: center;
	height: 100px; /* Фиксированная высота футера */
	box-sizing: border-box; /* Включаем отступы и границы в общую высоту */
	grid-area: content;
}

.footerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	grid-area: content;
}

.footerLinks a:hover {
	text-decoration: underline;
}

.footerInfo {
	text-align: center;
	margin-bottom: 10px; /* Отступ снизу для разделения информации от слогана */
}

.footerInfo a {
	color: #007bff;
	text-decoration: none;
}

.footerInfo a:hover {
	text-decoration: underline;
}

.footerCardInfo {
	text-align: center;
	margin-bottom: 10px; /* Отступ снизу для разделения информации от слогана */
}
.heading {
	padding: 20px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
}

.heading h1 {
	margin-top: 0;
	font-size: 2rem;
	color: #333;
}

.heading p {
	margin-top: 10px;
	font-size: 1rem;
	color: #666;
}

.userGuideHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.headerInfo {
	display: flex;
	flex-direction: column;
}

.headerInfo span {
	margin-right: 10px;
	font-weight: bold;
}
