/* src/styles/GuideStepSet.module.css */
.guideStepSet {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 1.5rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	/* border-radius: 15px; */
	background-color: white;
}

.controls {
	margin-top: 20px;
}

.controls button {
	margin-right: 10px;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
}

.editMode {
	background-color: #f5f5f5;
	padding: 10px;
	border: 1px dashed #999;
}

.showMode {
	background-color: #e7f5ff;
	padding: 10px;
	border: 1px solid #0099ff;
}

.createMode {
	background-color: #e5ffe5;
	padding: 10px;
	border: 1px solid #33cc33;
}

.guideMode {
	background-color: #fff3e0;
	padding: 10px;
	border: 1px solid #ffa500;
}

/* Другие стили */

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttonContainer {
	display: flex;
	gap: 10px; /* Расстояние между кнопками */
}

.toggleButton {
	font-size: 1.5rem;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0.5rem;
	transition: background-color 0.3s ease;
}

.toggleButton:hover {
	background-color: #f0f0f0;
}

.launchButton {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}
