/* MainContent.module.css */

.mainContent {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 50px;
	padding: 0;
	box-sizing: border-box;
}

.mainContentHeader {
	/* outline: 2px solid blue; */
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainContentBody {
	/* outline: 2px solid green; */
	flex: 1;
}

.mainContentFooter {
	/* outline: 2px solid rgb(110, 18, 110); */
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
